body {
    margin: 0em;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #212529;

}

p {
    font-family: 'Nunito Sans', sans-serif;
    color:#ffffff;
}

h4, h3, h2 {
    font-family: 'Permanent Marker', cursive;
    color: #ffffff;
}

label {
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
}

.nav-link{
    color: rgb(255, 255, 255);
}

.cover {
    height: 400px;
    color: white;
    background-image: url( imagenes/fondo1.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode:darken;
}

.mr-2 {
    margin-right: 1rem;
}

.responsive-iframe {
    position: relative;
    padding-top: 56.25%;
}

.responsive-iframe iframe {
    position: absolute;
    top:0;
    left:0;
    width:45%;
    height:45%;
}

.image-container {
    width: 100%;
    padding-top: 50%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.slider {
    overflow: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.slider-container {
    display: flex;
}

.slider {
    overflow: hidden;
}

.slider-container {
    transform: translateX(0);
    animation: slider 16s infinite;
}

.avatar {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.box {
    width: 500px;
    background: rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.box-img{
    border-radius: 50%;
}

.box h2{
    margin:30px 0 20px;
}

.box p {
    text-align: justify;
}

.box ul {
    list-style: none;
    margin-top: 20px;
}

.box ul li {
    display: inline-block;
}

.box ul li a {
    color: white;
    font-size: 45px;
    padding: 10px 5px;
    display: block;
    transition: .5s ease-in-out;

}

.box ul li :hover{
    color: #b9b9b9;
    transform: scale(1.1);

}

.card {
    background-color: #212529;
    border-color: #ffffff;
}


footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(imagenes/fondo3.svg);
    background-size: cover;
}

.box-copyrigh {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box-copyrigh p {
    margin-top: 40px;
    color: #212529 ;
}


@keyframes slider {
0%   {
    transform: translateX(0);
    }

20%  {
    transform: translateX(0);
}

25%  {
    transform: translateX(-100%);
}

45%  {
    transform: translateX(-100%);
}

50%  {
    transform: translateX(-200%);
}

70%  {
    transform: translateX(-200%);
}

75%  {
    transform: translateX(-300%);
}

95%  {
    transform: translateX(-300%);
}


100% {
    transform: translateX(0); 
}